body {
	background: url("https://raw.githubusercontent.com/amr08/TrainTime/master/assets/textured_paper/textured_paper.png");
    margin: 0 auto;

}

.jumbotron {
	background-color: #1a242f;
	color: white;
	text-align: center;
}

.well {
	width:30%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 23px;
	padding-bottom: 15px;

}

img {
	height: 70px;
	width: 70px;

}

